.hextant-text.identifier {
    -fx-text-fill: purple;
}

.hextant-text {
    -fx-font-size: 15 !important;
}

.hextant-text.int-literal {
    -fx-text-fill: #FFB3CC;
}

.hextant-text.reference {
    -fx-text-fill: #6D9FFF;
}

.let {
    -fx-border-width: 1;
    -fx-border-color: purple;
}

.lambda {
    -fx-border-width: 1;
    -fx-border-color: orange;
}

.apply {
    -fx-border-width: 1;
    -fx-border-color: green;
}

.parameterized-adt {
    -fx-border-width: 1;
    -fx-border-color: lightblue;
}

.hextant-text.identifier.parameterized-adt-name {
    -fx-text-fill: aqua !important;
}

.hextant-text.identifier.adt-name {
    -fx-text-fill: aqua;
}

.hextant-text.identifier.adt-constructor-name {
    -fx-text-fill: darkgoldenrod;
}

:highlight {
    -fx-background-color: #234309 !important;
}

:refactoring {
    -fx-background-color: #1336FF !important;
    -fx-border-width: 1 !important;
    -fx-border-color: FF0010 !important;
}